http://stackoverflow.com/questions/31593201/pandas-iloc-vs-ix-vs-loc-explanation

In [67]:
import pandas as pd
import numpy as np
data=pd.DataFrame(np.zeros(shape=(10,3)),columns=["a","b","c"])
data.loc[ 1:4,'a':'c']=55,66,77
#     only a:c
data.ix[ 3:5,'b':'c']=111
data

      a      b      c
0   0.0    0.0    0.0
1  55.0   66.0   77.0
2  55.0   66.0   77.0
3  55.0  111.0  111.0
4  55.0  111.0  111.0
5   0.0  111.0  111.0
6   0.0    0.0    0.0
7   0.0    0.0    0.0
8   0.0    0.0    0.0
9   0.0    0.0    0.0

In [68]:
#list of columns
data[ ['a','b']]=data[['b','a']]  #works
data.loc[:,['b', 'a']] = data[['a', 'b']] #not, it alignes axes
data.loc[:,['b', 'a']] = data[['a', 'b']].values #yes
data['d'] = list(range(len(data.index)))
data['e']=[1,2,3,4,5,6,7,8,9,10]
##???data.iloc[0]=dict(a=1,c=2,b=44,d=123,e=12)
data

      a      b      c  d   e
0   0.0    0.0    0.0  0   1
1  55.0   66.0   77.0  1   2
2  55.0   66.0   77.0  2   3
3  55.0  111.0  111.0  3   4
4  55.0  111.0  111.0  4   5
5   0.0  111.0  111.0  5   6
6   0.0    0.0    0.0  6   7
7   0.0    0.0    0.0  7   8
8   0.0    0.0    0.0  8   9
9   0.0    0.0    0.0  9  10

In [94]:
#http://pandas.pydata.org/pandas-docs/stable/indexing.html#advanced-indexing-with-labels
# CALL EXACT PARTS = BEST PART OF PANDAS
data.iloc[[0,1,4,3],[1,3,2]]=1.12,1.13,1.14
data.iloc[[1,4,3],[1,3,2]]
data

      a       b       c     d   e
0   0.0    1.12    1.14  1.13   1
1  55.0    1.12    1.14  1.13   2
2  55.0   66.00   77.00  2.00   3
3  55.0    1.12    1.14  1.13   4
4  55.0    1.12    1.14  1.13   5
5   0.0  111.00  111.00  5.00   6
6   0.0    0.00    0.00  6.00   7
7   0.0    0.00    0.00  7.00   8
8   0.0    0.00    0.00  8.00   9
9   0.0    0.00    0.00  9.00  10

In [93]:
data.loc[lambda data:data.a>1, ['a','b']]

      a      b
1  55.0   1.12
2  55.0  66.00
3  55.0   1.12
4  55.0   1.12